# Get these values from: cdk deploy outputs (AnnaSurakshaMvpStack)
NEXT_PUBLIC_API_URL=https://YOUR_API_ID.execute-api.ap-south-1.amazonaws.com
NEXT_PUBLIC_USER_POOL_ID=ap-south-1_XXXXXXXXX
NEXT_PUBLIC_WEB_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
